<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="MonoServerDefaultIndexFiles" value="index.html" />
	</appSettings>

	<system.web>
		<httpHandlers>
			<add verb="*" path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" />
		</httpHandlers>
	</system.web>
</configuration>