<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MonoServerDefaultIndexFiles" value="index.html" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add verb="*" path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" />
    </httpHandlers>
    <compilation>
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>